{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <span data-feather="home"></span>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/hr_management">
                            <span data-feather="users"></span>
                            Quản lý HR
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/menu_items">
                            <span data-feather="file"></span>
                            Quản lý Menu
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tables">
                            <span data-feather="bar-chart-2"></span>
                            Quản lý Bàn
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="bar-chart-2"></span>
                            Quản lý Doanh thu
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
            </div>
            <!-- Nội dung chính của dashboard sẽ được đặt ở đây -->
        </main>
    </div>
</div>
{% endblock %}